{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}
    {% include 'navbars/business.html.twig' %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="form_wrapper">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.category) }}
        {{ form_row(form.photo) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
