{% extends 'base.html.twig' %}

{% block title %}Hello PackageController!{% endblock %}

{% block body %}

{% include 'navbars/consumer.html.twig' %}

<div class="index_wrapper">
    <div>
        {% if is_granted('ROLE_CONSUMER') %}
            <h2>Welcome {{ app.user.consumer.firstName }} {{ app.user.consumer.lastName }}</h2>
        {% elseif is_granted('ROLE_ADMIN') %}
            <h2>Welcome Admin!</h2>
        {% endif %}


    </div>


    {% if is_granted('ROLE_CONSUMER') %}
        {% form_theme form_type 'bootstrap_5_layout.html.twig' %}
        <div>
            {{ form_start(form_type, {attr: {class: 'row row-cols-lg-6 g-3 align-items-center p-2'}}) }}
            <div class="col">{{ form_row(form_type.name) }}</div>
            <div class="col">{{ form_row(form_type.minPrice) }}</div>
            <div class="col">{{ form_row(form_type.maxPrice) }}</div>
            <div class="col">{{ form_row(form_type.category) }}</div>
            <div class="col">{{ form_row(form_type.business) }}</div>
            <div class="col">{{ form_row(form_type.submit) }}</div>
            {{ form_end(form_type) }}
        </div>

    {% endif %}

    <h3>Available packages </h3>
    {% include 'package/card.html.twig' %}
</div>
{% endblock %}
