{% if packages is empty %}
    <p>There are no packages</p>
{% else %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Created_at</th>
            <th>Category</th>
            <th>Business</th>
            <th></th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BUSINESS') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>

        <tbody>

        {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.price }}</td>
                <td>{{ package.createdAt|date('d-m-Y') }}</td>
                <td>{{ package.category.name }}</td>
                <td>{{ package.business.name }}</td>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_BUSINESS') %}
                    <td>
                        <a href="{{ path('app_package_delete',{'id':package.id}) }}">
                            <img src="{{ asset('Icons/recycling-bin.png') }}" alt="Trash" width="16" height="16">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_package_edit',{'id':package.id}) }}">
                            <img src="{{ asset('Icons/pen.png') }}" alt="Edit" width="16" height="16">
                        </a>
                    </td>
                {% endif %}
                {% if app.user and is_granted('ROLE_CONSUMER') %}
                    <td>
                        <a href="{{ path('app_order_new',{
                            package_id: package.id,
                            consumer_id: app.user.consumer.id
                        }) }}" ><img src="{{ asset('Icons/cart.png') }}" alt="Buy" width="16" height="16"></a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
