{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}

{% include 'navbars/admin.html.twig'%}

<div class="index_wrapper">
    <table class="table table-light">
        <thead>
        <tr class="table-primary">
            <th>Name</th>
            <th>City</th>
            <th>Street</th>
            <th>House Number</th>
            <th>Phone Number</th>
            <th>Business Type</th>
        </tr>
        </thead>
        <tbody>
        {% for business in businesses %}
            <tr>
                <td>{{ business.name }}</td>
                <td>{{ business.city }}</td>
                <td>{{ business.street}}</td>
                <td>{{ business.houseNumber}}</td>
                <td>{{ business.phoneNumber}}</td>
                <td>{{ business.businessType.name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
