{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
    {% include 'navbars/admin.html.twig'%}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <div class="container bg-light mt-3">

       {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.city) }}
        {{ form_row(form.street) }}
        {{ form_row(form.houseNumber) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.businessType) }}
        {{ form_row(form.submit) }}
        {{form_end(form)  }}
    </div>
{% endblock %}
