{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}

    <div class="index_wrapper">
        <h1>This is the page for the {{ business.name }} business</h1>
        <p><b>City:</b> {{ business.city }}</p>
        <p><b>Street</b>: {{ business.street }}</p>
        <p><b>House Number</b>: {{ business.houseNumber }}</p>
        <p><b>Phone Number: </b> {{ business.phoneNumber }}</p>
        <p><b>Business Type: </b>{{ business.businessType.name }}</p>

        <a class = "btn btn-primary" href={{ path('app_business_statistics',{id: business.id}) }}>See statistics</a>

        {% include  'package/card.html.twig' with{'packages' : business.packages}%}

        <a class= "btn btn-primary" href="{{ path('app_package_new', {id: business.id}) }}">Create new package</a>

        </div>

{% endblock %}
