{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{% include 'navbars/admin.html.twig'%}
<div class="small_form_wrapper">
    <a class="btn btn-primary mb-3" href="{{ path('app_category_new') }}">Create new category</a>
    <table class="table table-light">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_delete', {id: category.id}) }}">
                        <img src="{{ asset('Icons/recycling-bin.png') }}" alt="delete" width="16" height="16">
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_category_edit', {id: category.id}) }}">
                        <img src="{{ asset('Icons/pen.png') }}" alt="edit" width="16" height="16">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
