{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% include 'navbars/admin.html.twig' %}

    <div class="index_wrapper">
        <h2>Options for admin</h2>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="p-3 border rounded bg-light">
                    <h5 class="mb-3">Business</h5>
                    <a class="btn btn-primary w-100 mb-2" href="{{ path('app_business') }}">See all business</a>
                    <a class="btn btn-primary w-100" href="{{ path('app_business_new') }}">Create a business</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 border rounded bg-light">
                    <h5 class="mb-3">Consumers</h5>
                    <a class="btn btn-primary w-100" href="{{ path('app_consumer') }}">See all consumers</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 border rounded bg-light">
                    <h5 class="mb-3">Settings</h5>
                    <a class="btn btn-primary w-100 mb-2" href="{{ path('app_business_type') }}">Manage business types</a>
                    <a class="btn btn-primary w-100 mb-2" href="{{ path('app_category') }}">Manage categories</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
