{% extends 'base.html.twig' %}

{% block title %}Hello BusinessTypeController!{% endblock %}

{% block body %}

{% include 'navbars/admin.html.twig'%}

<div class="form_wrapper">
    <a class="btn btn-primary mb-3" href="{{ path('app_business_type_new') }}">Create new business type</a>
    <table class="table table-light">
        <thead>
            <tr class="table-primary">
                <th>Nume</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.name }}</td>
                <td>
                    <a href="{{ path('app_business_type_delete', {id: type.id}) }}">
                        <img src="{{ asset('Icons/recycling-bin.png') }}" alt="delete" width="16" height="16">
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_business_type_edit', {id: type.id}) }}">
                        <img src="{{ asset('Icons/pen.png') }}" alt="edit" width="16" height="16">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
