{% extends 'base.html.twig' %}

{% block title %}Hello ConsumerController!{% endblock %}

{% block body %}

<div class="index_wrapper">
{#    <a href="{{ path('app_consumer_new') }}">Create a new consumer</a>#}
    <table class="table table-light">
        <thead>
            <tr class="table-primary">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for consumer in consumers %}
                <tr>
                    <td>{{ consumer.firstName }}</td>
                    <td>{{ consumer.lastName }}</td>
                    <td>{{ consumer.phoneNumber}}</td>
                    <td>
                        <a href="{{ path('app_consumer_delete',{id: consumer.id}) }}">
                            <img src="{{ asset('Icons/recycling-bin.png') }}" alt="delete" width="16" height="16">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
