{% extends 'base.html.twig' %}

{% block title %}Hello ConsumerController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1500px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <a class="btn btn-primary" href="{{ path('app_package') }}">Back</a>
        <a class="btn btn-primary" href="{{ path('app_consumer_edit',{id: consumer.id}) }}">Edit Profile</a>
        <h2 class="text-left">Welcome {{ consumer.firstName}} {{ consumer.lastName }}!</h2>
        {% if orders is not empty%}
            <h3>Your orders: </h3>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Package</th>
                    <th>Price</th>
                    <th>Created at</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.packageId.name }}</td>
                        <td>{{ order.packageId.price }}</td>
                        <td>{{ order.CreatedAt|date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('app_order_delete',{'order_id':order.id, 'consumer_id': app.user.consumer.id}) }}">
                                <img src="{{ asset('Icons/recycling-bin.png') }}" alt="Trash" width="16" height="16">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         {% else%}
            <p>Nu ai comenzi</p>
        {% endif %}
    </div>



{% endblock %}
